
/* =========== CLEAR ALL PRESET STUFF =========== */
html {font-size: 62.5%;} /* Sets the default size so you can use ems and rems */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* Font weights: 100,300,500,900 */
body{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: white;
  background: rgb(238,139,179);
  background: linear-gradient(180deg, rgba(238,139,179,1) 0%, rgba(172,10,197,1) 34%, rgba(102,5,149,1) 62%, rgba(31,2,72,1) 100%, rgba(122,69,214,1) 660595%);
}

p {
  font-size: 1.75em;
  text-align: center;
}

h1 {
  font-weight: 900;
  letter-spacing: .15em;
}



/* HOME PAGE */
/* ==================================================================================================== */
.enTileSet {
  margin-top: 5em;
  margin-bottom: 5em;
}

.enTypeBox {
  height: 20em;
  background-color: rgba(241, 82, 170, .9);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 1);
}


.enTypeBox-active {
  background: linear-gradient(147deg, #0b43a4, #040e45);
  background-size: 400% 400%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  
  @-webkit-keyframes AnimationName {
      0%{background-position:19% 0%}
      50%{background-position:82% 100%}
      100%{background-position:19% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:19% 0%}
      50%{background-position:82% 100%}
      100%{background-position:19% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:19% 0%}
      50%{background-position:82% 100%}
      100%{background-position:19% 0%}
  }
}


.enTypeBox-active:hover {
  margin-top: -4px;
  margin-left: -4px;
  -webkit-box-shadow: 11px 11px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    11px 11px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         11px 11px 0px 0px rgba(50, 50, 50, 1);
}
.enTypeBox-inactive {
  background-color: gray;
}

.enTypeBox-inactive:hover {
  padding-top: 4px;
  padding-left: -4px;
}




/* ========== SURVEY PAGE ========== */
/* ============================================================================================= */
.surveyIntro {
  text-align: center;
  font-weight: 100;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 8em;
}

.surveyTitle {
  position: fixed;
  font-size: 30em;
  color: rgba(250, 250, 250, .4);
}

.question {
  padding: 3.5em .5em 3.5em .5em;
}

.slider{
width: 100%;
}

.rangeLabels {
  font-size: 1em;
  color: white;
}

.agree {
  position: absolute;
  right: 0;
}

.inlineQuestion {
  margin-right: auto;
  margin-left: auto;
  max-width: 50em;
  margin-bottom: 8em;
}

/* ----- USER BOX ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----  */

#userInfoBox{
  width: 120%;
  margin-left: -10%;
  background-color: #6EE0FF;
  padding: 1em;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 1);
}

#userInfoBox h1 {
  color: white;
  -webkit-text-stroke: 2px black;
}

#userInfoBox input[type=text]{
  background-color: #6EE0FF;
  border: none;
  padding: .5em;
  color: white;
  font-size: 2.5em;
}

#userInfoBox input[type=text]:focus{
  background-color: #B5EFFF;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 1);
}


  


.textBox{
  width: 100%;
  text-align: center;
}

.primaryCTA {
  font-size: 2em;
  background-color: #F152AA;
  color: white;
  text-align: center;
  padding: .75em;
  font-weight: 900;
  letter-spacing: .25em;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    7px 7px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         7px 7px 0px 0px rgba(50, 50, 50, 1);
}

.primaryCTA:hover {
  -webkit-box-shadow: 11px 11px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    11px 11px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         11px 11px 0px 0px rgba(50, 50, 50, 1);
}




/* ----- MODAL ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----  */
#surveyResultModal {
  background: rgba(95,19,135,.3);
  background: linear-gradient(120deg, rgba(95,19,135,.3) 0%, rgba(90,30,125,.3) 39%, rgba(41,0,73,.3) 75%, rgba(31,2,72,.3) 100%, rgba(122,69,214,.3) 660595%);
}
.modal-content {
  margin-top: 20%;
  padding: 20%;
  background: rgba(95,19,135,.8);
}

.modalButtonCTA {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 1em 0 1em 0;
  width: 100%;
  color: rgba(31,2,72,1);
  font-size: 1.5em;
}


/* ========== FOOTER ========== ========== ========== ========== ========== ========== ========== ==========   */
footer {
  padding-top: 6em;
  background-color: #222;
  color: #777;
  font-size: .75em;
  text-align: left;
}

footer p {
  text-align: left;
}

.footerNavTab-btn {
  color: #777;
  font-size: 1.5em;
}

.footerNavTab-btn:hover {
  -webkit-box-shadow: 11px 11px 0px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    11px 11px 0px 0px rgba(50, 50, 50, 1);
  box-shadow:         11px 11px 0px 0px rgba(50, 50, 50, 1);
}


/* ========== DECORATIONS ========== */
/* ============================================================================================= */
.floatybox {
  width: 24em;
  height:8em;
  position:fixed;
  z-index: -1;
  background: rgb(95,19,135);
  background: linear-gradient(120deg, rgba(95,19,135,1) 0%, rgba(90,30,125,1) 39%, rgba(41,0,73,1) 75%, rgba(31,2,72,1) 100%, rgba(122,69,214,1) 660595%);
}